version: '3.8'

services:
  bot:
    build: .
    container_name: washing-machine-bot
    restart: unless-stopped

    deploy:
      resources:
        limits:
          cpus: '0.75'
          memory: 768M

    env_file:
      - .env

    volumes:
      - ./data:/app/data
      
      # 2. Пробрасываем ТОЛЬКО файл ключей Google.
      - ./${SERVICE_ACCOUNT_FILE}:/app/${SERVICE_ACCOUNT_FILE}:ro
    environment:
      - TZ=Europe/Moscow
